@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/notifications/styles.css';

:root {
  --app-shell-navbar-width: 280px;
}

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}
